.mainDivFlex {
    display: flex;
    height: 100px;
    margin-top: 2.25em;
}

.mapDiv {
    width: 70%
}

.infoDiv {
    flex-grow: 1
}

.dropdown-menu{
    /* height: 70px; */
    /* overflow-y: scroll; */
}